* {
    margin: 0;
    padding: 0;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
    border-spacing: 0;
    text-align: center;
    width: 1200px;
    margin: 50px auto;
}

thead {
    color: white;
}

th, td {
    background: rgb(225, 226, 230);
    padding: 10px 10px;
}

th:first-child {
    background: rgb(97, 114, 150);
    font-weight: bold;
    width: 40%;
    height: 150px;
    font-size: 25px;
    border-top-left-radius: 10px;
}

tbody tr td:first-child {
    text-align: left;
    padding-left: 50px;
}

tbody tr:nth-child(even) td:nth-child(odd) {
    background: rgb(243, 239, 239);
}

tbody tr:last-child td:first-child {
    height: 70px;
    border-bottom-left-radius: 10px;
}

th:last-child {
    background: rgb(5, 20, 56);
    border-top-right-radius: 10px;
    width: 15%;
}

th:nth-child(4) {
    background: rgb(20, 40, 87);
    width: 15%;
}

th:nth-child(3) {
    background: rgb(36, 58, 109);
    width: 15%;
}

th:nth-child(2) {
    background: rgb(57, 80, 134);
    width: 15%;
}

tbody tr:nth-child(odd) td:nth-child(even) {
    background: rgb(243, 239, 239);
}

tbody tr:nth-child(even) td:nth-child(even) {
    background: rgb(248, 245, 245);
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

span {
    background: rgb(225, 226, 230);
    padding: 5px 13px 5px 13px;
    border: 1px solid gray;
    cursor: pointer;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name, .month {
    height: 10%;
    width: 100%;
}

.name {
    margin-bottom: 20px;
}

.price {
    font-size: 45px;
    height: 60%;
}





